*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata/*
.build/
Pods/Pods.xcodeproj/xcuserdata/*

*.xcworkspace/xcuserdata/*
Pods/*.xcodeproj/xcuserdata/*

*.swp
.DS_Store
